[probe_eddy_current btt_eddy]
sensor_type: ldc1612
#   The sensor chip used to perform eddy current measurements. This
#   parameter must be provided and must be set to ldc1612.
#frequency:
#   The external crystal frequency (in Hz) of the LDC1612 chip.
#   The default is 12000000.
#intb_pin:
#   MCU gpio pin connected to the ldc1612 sensor's INTB pin (if
#   available). The default is to not use the INTB pin.
#max_sensor_hz:
#   Maximum expected resonant frequency reported by the sensor (in
#   Hz). This is used during internal clock rate configuration. This
#   value is typically only configured if the software reports a
#   warning suggesting the value should be increased. The default is
#   5000000.
descend_z: 0.5
#   The nominal distance (in mm) between the nozzle and bed that a
#   probing attempt should stop at. This parameter must be provided.
#i2c_address:
i2c_mcu: eddy
i2c_bus: i2c0f
#i2c_software_scl_pin:
#i2c_software_sda_pin:
#i2c_speed:
#   The i2c settings for the sensor chip. See the "common I2C
#   settings" section for a description of the above parameters.
x_offset: -31.6
y_offset: -40
#   The distance (in mm) between the probe and the nozzle along the
#   x and y axes. The default is 0.
#speed:
#lift_speed:
#samples:
#sample_retract_dist:
#samples_result:
#samples_tolerance:
#samples_tolerance_retries:
#   See the "probe" section for information on these parameters. Note
#   that the settings here apply only to regular probe commands. These
#   settings do not have an effect if using a probe "METHOD" of
#   "scan", "rapid_scan", or "tap".
#tap_threshold:
#   Descent stop threshold (in Hz/mm) for "tap" probing. Larger values
#   reduce the chance of the toolhead incorrectly stopping early due
#   to noise, while increasing the risk of the toolhead not correctly
#   stopping when it first contacts the bed. See Eddy_Probe.md for
#   more information. This value may be overridden at run-time using
#   the "TAP_THRESHOLD" parameter on probe commands.  The default is
#   to not enable "tap" probing.
#tap_z_offset: 0.0
#   The Z height (in mm) of the nozzle relative to the bed at the
#   contact point detected during "tap" probing. Nominally this would
#   be 0.0 to indicate the contact point has zero distance, but one
#   may set this to account for backlash, thermal expansion, a
#   systemic probing bias, or similar. The default is zero.

#[probe_eddy_ng btt_eddy]
#sensor_type: btt_eddy
#x_offset: -31.6
#y_offset: -40

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_probe btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26
horizontal_move_z: 2

# Uncomment this if you are using Eddy as the probe AND the homing endstop
[safe_z_home]
home_xy_position: 150, 150 # Choose an X,Y position that is in the center of your bed. For a 300x300 machine that will be 150, 150. Use the same principle to calculate your bed center.
z_hop: 5
z_hop_speed: 25
speed: 150

# Uncomment this if you are using Eddy as the probe AND the homing endstop
[force_move]
enable_force_move: True # Allows a user to move the z axis down if they have no other means of homing Z and need to calibrate the Eddy.

# Uncomment this if you are using Eddy as the probe AND the homing endstop
# Take note of the lines that should only be used if you have a KNOMI installed.
[gcode_macro G28]
rename_existing: G28.1
gcode:
  #SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=homing VALUE=True # Uncomment this if using a KNOMI and then remove the G28 macro from the KNOMI.cfg
  G28.1 {rawparams}
  {% if not rawparams or (rawparams and 'Z' in rawparams) %}
    PROBE
    SET_Z_FROM_PROBE
  {% endif %}
  #SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=homing VALUE=False # Uncomment this if using a KNOMI and then remove the G28 macro from the KNOMI.cfg

# Uncomment this if you are using Eddy as the probe AND the homing endstop
[gcode_macro SET_Z_FROM_PROBE]
gcode:
    {% set cf = printer.configfile.settings %}
    SET_GCODE_OFFSET_ORIG Z={printer.probe.last_z_result - cf['probe_eddy_current btt_eddy'].z_offset + printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset}
    G90
    G1 Z{cf.safe_z_home.z_hop}

